<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <form action="/dishes" method="POST">

            title:<input type="text" name="title" />
            description:<input type="text" name="description" />
            price: <input type="text" name="price" />
            course: <input type="text" name ="course" />
            imageURL: <input type="text" name="imageURL" />
        
            <input type="submit" />
        
           
          </form>
    
</body>
</html>